<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--CSS File-->
    <link rel="stylesheet" href="css/style_AboutUs.css" />
    <!--FontAwesome-->
    <script
      src="https://kit.fontawesome.com/0c6fb46b23.js"
      crossorigin="anonymous"
    ></script>

    <meta charset="utf-8" />
    <title>BookFolks</title>
  </head>

  <body>
    <!--Nav bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"
            ><img class="BookFolkIcon" src="img/BookFolk_icon_white.svg"
          /></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Genres</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Looking for something?"
            />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="fas fa-plus-circle fa-lg"></i> New Story</a>
          </li>
          <li>
            <a href="#"
              ><img class="userPicture" src="img/user.png" />Profile</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!--END of Nav bar-->
    <div>
      <h1 class="title">Meet the Team</h1>
    </div>
    <!--Images section-->
    <div class="teamRow"></div>
    <!--Description part-->
    <div>
      <div class="description">
        We're a group of friends with different backgrounds that came up with
        the idea of letting artists like you join other talented people, in this
        case, writers and illustrators,
        <br />allowing you to collaborate and create marvelous stories!
      </div>
    </div>
    <div class="teamDescription">
      <div class="teamMemberRow">
        <div class="teamMemberColumn">
          <div class="name">Lia Figueroa</div>
          <div class="occupation">Communications</div>
          <img class="lia" src="img/lia@2x.png" />
        </div>
        <div class="teamMemberColumn">
          <div class="name">Fernando González</div>
          <div class="occupation">
            Electronics &<br />
            Instrumentation Engineer
          </div>
          <img class="fer" src="img/fer@2x.png" />
        </div>
        <div class="teamMemberColumn">
          <div class="name">Orlando Alvarado</div>
          <div class="occupation">
            Electronics<br />
            Engineer
          </div>
          <img class="orli" src="img/orli@2x.png" />
        </div>
        <div class="teamMemberColumn">
          <div class="name">Kevin Winkler</div>
          <div class="occupation">
            Mechatronics<br />
            Engineer
          </div>
          <img class="kevin" src="img/kevin@2x.png" />
        </div>
        <div class="teamMemberColumn">
          <div class="name">Saúl Valenzuela</div>
          <div class="occupation">
            Computer Systems<br />
            Engineer
          </div>
          <img class="saul" src="img/saul3@2x.png" />
        </div>
      </div>
    </div>
    <!--follow us part-->
    <div class="followUs">
      <h3>Follow us</h3>
      <div class="iconRow">
        <img class="instagram_icon" src="img/instagram_icon.svg" />
        <img class="facebook_icon" src="img/facebook_icon.svg" />
        <img class="twitter_icon" src="img/twitter_icon.svg" />
      </div>
    </div>
  </body>
</html>
