<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookfolks</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
</head>
<body>
	<h2>My Collaborations</h2>
	<div>
		<a href="/user/main">Make a new collaborations!</a>
	</div>
	<div th:if="${myChapters}" th:each="myChapter: ${myChapters}">
		<img th:src="${myChapter.urlImage}" width="30px" height="30px">
		<h4 th:text="${myChapter.title}"></h4>
		<h5 th:text="${myChapter.content}"></h5>
		<h6 th:text="${myChapter.storyTitle}"></h6>
		<a th:href="@{/chapter/showChapter(id=${myChapter.id})}">View</a>
	</div>
	
		<div id="alert" class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
		<div id="alert" class="alert alert-primary" role="alert" th:if="${error}" th:text="${error}"></div>
	<script th:if="${error}">
						setTimeout(function(){
							document.getElementById("alert").remove();
						}, 5000);
	</script>
	<script th:if="${success}">
						setTimeout(function(){
							document.getElementById("alert").remove();
						}, 5000);
	</script>
	
</body>
</html>