<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookfolks</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
</head>
<body>
	<h2>Chapter</h2>
	<div th:if="${chapter}">
		<img th:src="${chapter.urlImage}" width="30px" height="30px">
		<h4 th:text="${chapter.title}"></h4>
		<h5 th:text="${chapter.content}"></h5>
		
	</div>
	<div>
		<a th:if="${size < 5}"th:href="@{/chapter/new(id=${chapter.id},flag=0)}">Continue this Chapter</a>
	</div>
	
	<div th:if="${chaptersChild}" th:each="chapterChild: ${chaptersChild}">
	<h3>Chapter Child</h3>
		<img th:src="${chapterChild.urlImage}" width="30px" height="30px">
		<h4 th:text="${chapterChild.title}"></h4>
		<h5 th:text="${chapterChild.content}"></h5>
		<h6 th:text="${chapterChild.author}"></h6>
		<a th:href="@{/chapter/showChapter(id=${chapterChild.id})}">View</a>
	</div>
	
	
	
		<div id="alert" class="alert alert-primary" role="alert" th:if="${success}" th:text="${success}"></div>
	<script th:if="${success}">
						setTimeout(function(){
							document.getElementById("alert").remove();
						}, 5000);
	</script>
	
</body>
</html>