<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookFolks</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
</head>
<body>
	<h1>Info</h1>
	<img th:src="${user.urlImage}" width=50 height=50>
	<div>
	<h4>Name</h4>
	<p th:text="${user.name}"></p>
	</div>
	<div>
	<h4>Last Name</h4>
	<p th:text="${user.lastName}"></p>
	</div>
	<div>
	<h4>Email</h4>
	<p th:text="${user.email}"></p>
	</div>
	<a href="/user/editProfile">Edit Profile</a>
	<a href="/user/deleteAccount">Delete Account</a>
	<a href="/story/all">My Stories</a>
	<a href="/chapter/all">My Collaborations</a>
	
	<div id="alert"class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
	<script th:if="${success}">
						setTimeout(function(){
							document.getElementById("alert").remove();
						}, 5000);
	</script>
	
</body>
</html>