<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookFolks</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
</head>
<body>
	<div>
		<h1>New Story</h1>
	</div>
	<form action="/story/createStory" method="POST">
		<div>
			<label for="txtTitle">Title</label>
			<input type="text" id="txtTitle" name="txtTitle">
		</div>
		<div>
			<label for="txtSynopsis">Synopsis</label>
			<textarea id="txtSynopsis" name="txtSynopsis"></textarea>
		</div>
		<div>
			<label for="txtUrlImage">Image</label>
			<input type="text" id="txtUrlImage" name="txtUrlImage">
		</div>
		<div>
			<label for="txtGenre">Genre</label>
			<select id="txtGenre" name="txtGenre">
				<option value="1">Tale</option>
				<option value="2">Novel</option>
				<option value="3">Minifiction</option>
			</select>
		</div>
		<input type="submit" value="Accept">
	</form>
</body>
</html>