<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookfolks</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylechapterform.css}">
	<script th:src="@{https://kit.fontawesome.com/946aaf3d98.js}" crossorigin="anonymous"></script>
</head>
<body>
	<h2>Story</h2>
	<div th:if="${story}">
		<img th:src="${story.urlImage}" width="30px" height="30px">
		<h4 th:text="${story.title}"></h4>
		<h5 th:text="${story.synopsis}"></h5>
		<h6 th:if="${story.idGenre == 1}">Tale</h6>
		<h6 th:if="${story.idGenre == 2}">Novel</h6>
		<h6 th:if="${story.idGenre == 3}">Minifiction</h6>
		<p th:text="${story.author}"></p>
	</div>
	<div>
		<button th:if="${story.idUser == user.id} and ${noChapter}"type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalScrollable">
 			 Create new chapter
			</button>
	</div>
	<!-- Modal create new chapter -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title titulo" id="exampleModalScrollableTitle">Create your new <strong>chapter!</strong></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

       <form th:action="@{/chapter/new(flag=1)}"  enctype="multipart/form-data" method="POST">


        
			<div class="contenedor">


			<input type="text" id="txtIdStory" name="txtIdStory" th:value="${story.id}" style="display:none;">
			<input type="text" id="txtIdContinuity" name="txtIdContinuity" value="0" style="display:none;">	
			<!--<input type="text" id="txtIdContinuity" th:if="${flag == 0}" name="txtIdContinuity" th:value="${chapter.id}" style="display:none;">-->	
			
			
			
				<div class="input-contenedor">
					<i class="fas fa-heading icon"></i>
					<input type="text"id="txtTitle" name="txtTitle" placeholder="Title">
			
				</div>

				<div class="input-contenedor" >
					<div class="row">
						<i class="fas fa-pencil-alt icon"></i> <h6>Once upon a time..</h6>
					</div>
						<textarea class="estilotextarea"  th:if="${story.idGenre == 1}"  maxlength="1000" id="txtContent" name="txtContent"></textarea>
						<textarea class="estilotextarea" th:if="${story.idGenre == 2}"  id="txtContent" name="txtContent"></textarea>
						<textarea class="estilotextarea" th:if="${story.idGenre == 3}"  maxlength="260" id="txtContent" name="txtContent"></textarea>
			
				</div>			
			
				<div class="input-contenedor">
					<i class="fas fa-images icon"></i>
					<input type="file"  id="file" name="file" placeholder="Upload Image"  >
				</div>
					<div class="btn-group-toggle" data-toggle="buttons" align="right">
  						<label class="btn btn-success btn-sm">
    						<input type="checkbox" checked> Upload
 						 </label>
					</div>

			</div>	
		<br>
 		<button type="submit" class="btn btn-dark btn-sm btn-block">Save</button>
      
 	</form>
   </div>
     
    </div>
  </div>
</div>
	

	<div th:if="${chapter}">
	<h3>Chapter</h3>
		<img th:src="${chapter.urlImage}" width="30px" height="30px">
		<h4 th:text="${chapter.title}"></h4>
		<h5 th:text="${chapter.content}"></h5>
		<h6 th:text="${chapter.author}"></h6>
		<a th:href="@{/chapter/showChapter(id=${chapter.id})}">View</a>
	</div>
	
	

	
				

					<div id="alert" class="alert alert-primary" role="alert" th:if="${success}" th:text="${success}"></div>
	<script th:if="${success}">
						setTimeout(function(){
							document.getElementById("alert").remove();
						}, 5000);
	</script>
	

	<!--javascript-->
<script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script th:src= "@{/js/bootstrap.min.js}"></script>
</body>
</html>